<% layout('layout/boilerplate') %>
<div class="vh-100 d-flex align-items-center aboutme" id="aboutme">
  <div class="container">
    <section class="row">
      <div class="col-lg-7 mx-auto text-white">
        <h2><span class="custom-borderline">About Me </span></h2>
        <h3 class="pt-3">
          <span class="custom-borderline">Mizuki Tamura </span>
        </h3>
        <p class="pt-3">
          Doshisha University Faculty of Science and Engineering <br />
          Department of Intelligent Information Engineering and Sciences <br />
          20 years old, born in Nagasaki, now living in Kyoto
        </p>
        <hr />
        <p>
          I am currently learning web application development, mainly using
          JavaScript and Firebase through personal projects. I am also familiar
          with HTML, CSS, Node.js, and Bootstrap. My experience working as a USJ
          crew member has helped me develop strong communication skills, which I
          consider one of my key strengths.
        </p>
      </div>
    </section>
  </div>
</div>

<div class="d-flex align-items-center bg-white" id="skills">
  <div class="container my-5">
    <section class="row">
      <div class="col-lg-7 mx-auto my-4">
        <h2><span class="custom-borderline">Skills</span></h2>
      </div>
      <div class="col-lg-7 mx-auto">
        <div class="card my-4 shadow-sm">
          <div class="card-body my-3 mx-3">
            <h5 class="card-title">Frontend</h5>
            <hr />
            <div
              class="d-flex flex-wrap justify-content-start gap-4 text-center"
            >
              <div class="me-3">
                <i class="devicon-html5-plain colored fs-1"></i>
                <div>HTML</div>
              </div>
              <div class="me-3">
                <i class="devicon-css3-plain colored fs-1"></i>
                <div>CSS</div>
              </div>
              <div class="me-3">
                <i class="devicon-bootstrap-plain colored fs-1"></i>
                <div>Bootstrap</div>
              </div>
              <div class="me-3">
                <i class="devicon-javascript-plain colored fs-1"></i>
                <div>JavaScript</div>
              </div>
              <div class="me-3">
                <i class="devicon-typescript-plain colored fs-1"></i>
                <div>TypeScript</div>
              </div>
              <div class="me-3">
                <i class="devicon-react-original colored fs-1"></i>
                <div>React</div>
              </div>
              <div class="me-3">
                <i class="devicon-flutter-plain colored fs-1"></i>
                <div>Flutter</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card my-4 shadow-sm">
          <div class="card-body my-3 mx-3">
            <h5 class="card-title">Backend</h5>
            <hr />
            <div
              class="d-flex flex-wrap justify-content-start gap-4 text-center"
            >
              <div class="me-3">
                <i class="devicon-nodejs-plain colored fs-1"></i>
                <div>Node.js</div>
              </div>
              <div class="me-3">
                <i class="devicon-firebase-plain colored fs-1"></i>
                <div>Firebase</div>
              </div>
              <div class="me-3">
                <i class="devicon-java-plain colored fs-1"></i>
                <div>Java Servlet</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card my-4 shadow-sm">
          <div class="card-body my-3 mx-3">
            <h5 class="card-title">Others</h5>
            <hr />
            <div
              class="d-flex flex-wrap justify-content-start gap-4 text-center"
            >
              <div class="me-3">
                <i class="devicon-java-plain colored fs-1"></i>
                <div>Java</div>
              </div>
              <div class="me-3">
                <i class="devicon-python-plain colored fs-1"></i>
                <div>Python</div>
              </div>
              <div class="me-3">
                <i class="devicon-c-plain colored fs-1"></i>
                <div>C</div>
              </div>
              <div class="me-3">
                <i class="devicon-cplusplus-plain colored fs-1"></i>
                <div>C++</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card my-4 shadow-sm">
          <div class="card-body my-3 mx-3">
            <h5 class="card-title">Tools</h5>
            <hr />
            <div
              class="d-flex flex-wrap justify-content-start gap-4 text-center"
            >
              <div class="me-3">
                <i class="devicon-visualstudio-plain colored fs-1"></i>
                <div>Visual Studio</div>
              </div>
              <div class="me-3">
                <i class="devicon-vscode-plain colored fs-1"></i>
                <div>VSCode</div>
              </div>
              <div class="me-3">
                <i class="devicon-git-plain colored fs-1"></i>
                <div>Git</div>
              </div>
              <div class="me-3">
                <i class="devicon-github-original colored fs-1"></i>
                <div>GitHub</div>
              </div>
              <div class="me-3">
                <i class="devicon-figma-plain colored fs-1"></i>
                <div>Figma</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="d-flex align-items-center bg-dark" id="hobby">
  <div class="container my-5">
    <div class="row g-4 py-4">
      <div class="col-lg-7 text-center mx-auto my-4 text-white">
        <h2><span class="custom-borderline">My Hobby </span></h2>
      </div>

      <div class="col-lg-6">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/images/bass_1.jpg"
                class="d-block w-100 carousel-img"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/images/bass_2.jpg"
                class="d-block w-100 carousel-img"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/images/bass_3.jpg"
                class="d-block w-100 carousel-img"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/images/bass_4.jpg"
                class="d-block w-100 carousel-img"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/images/bass_5.jpg"
                class="d-block w-100 carousel-img"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-lg-6 text-white">
        <h3>
          <span class="custom-borderline">Playing Bass Guitar</span>
        </h3>
        <p class="pt-3">
          For me, music is more than just a hobby — it’s a source of
          inspiration. <br />
          I play bass in a band and enjoy discovering new sounds across all
          kinds of genres.
        </p>
        <hr />
        <h3>
          <span class="custom-borderline">My Playlist</span>
        </h3>
        <iframe
          style="border-radius: 0"
          src="https://open.spotify.com/embed/playlist/6xHYVwrJ1BH2GkhxiHqfpJ?utm_source=generator"
          width="100%"
          height="152"
          frameBorder="0"
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
          class="mt-4"
        ></iframe>
      </div>
    </div>
  </div>
</div>

<div class="d-flex align-items-center bg-white" id="part-time-work">
  <div class="container my-5">
    <div class="row g-4 py-4">
      <div class="col-lg-7 text-center mx-auto my-4">
        <h2>
          <span class="custom-borderline">Part-time Work Experience </span>
        </h2>
      </div>

      <div class="col-lg-6 order-1 order-lg-2">
        <img src="/images/usj_nintendoworld.jpg" class="img-fluid" alt="" />
      </div>

      <div class="col-lg-6 order-2 order-lg-1">
        <h3>
          <span class="custom-borderline"
            >Crew Member at Universal Studios Japan</span
          >
        </h3>
        <p class="pt-3">
          I currently work as a crew member at the 1UP Factory in Super Nintendo
          World, located inside Universal Studios Japan. Through assisting with
          the sale of character merchandise, I have developed a strong sense of
          hospitality, teamwork, and the ability to make quick decisions.
        </p>
        <p class="pt-1">
          Working in a fast-paced, high-pressure environment has taught me to
          stay calm under pressure and to always prioritize providing guests
          with a memorable and enjoyable experience.
        </p>
        <hr />
        <p class="pt-3">
          I frequently interact with guests from overseas, which has helped me
          improve both my intercultural communication and English customer
          service skills. <br />
          My English proficiency and hospitality in guest interactions were
          officially recognized, and I was certified as an official
          English-speaking crew member by Universal Studios Japan.
        </p>
      </div>
    </div>
  </div>
</div>
