<% layout('layout/boilerplate') %>
<div class="vh-100 d-flex align-items-center contact" id="contact">
  <div class="container">
    <section class="row text-white">
      <div class="col-lg-7 mx-auto">
        <h2><span class="custom-borderline">Contact</span></h2>
        <h3 class="pt-3">
          <span class="custom-borderline">Name : Mizuki Tamura </span>
        </h3>
        <p class="pt-3">
          Doshisha University Faculty of Science and Engineering <br />
          Department of Intelligent Information Engineering and Sciences <br />
          Gmail : mizu20040814@gmail.com <br />
        </p>
        <hr>
        <a
            class="custom-a mt-3 contact"
            href="https://github.com/mizu20040814"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-outline-danger mt-4"
          >
            Access to GitHub</a>
      </div>
    </section>
  </div>
</div>
