<% layout('layout/boilerplate') %>
<div class="vh-100 d-flex align-items-center notfound">
  <div class="container">
    <div class="row text-white">
      <div class="col-lg-7 mx-auto">
        <h2><span class="custom-borderline">404 NOT FOUND</span></h2>
        <p class="pt-3">
          Sorry, you're straysheep. <br />
          That's all we know.
        </p>
        <hr />
        <form action="/">
          <button class="btn btn-outline-danger mt-3">Back To Home</button>
        </form>
      </div>
    </div>
  </div>
</div>
