<% layout('layout/boilerplate') %>
<div class="vh-100 d-flex align-items-center works" id="contact">
  <div class="container">
    <section class="row text-white">
      <div class="col-lg-7 mx-auto">
        <h2 class="works-title">
          <span class="custom-borderline">Works</span>
        </h2>

        <p class="pt-3 works-p works-subtitle">
          Turning ideas into interactive experiences — <br />
          Here are some of the projects I've built with passion and purpose.
        </p>
      </div>
    </section>
  </div>
</div>

<div class="d-flex align-items-center bg-dark" id="works">
  <div class="container my-5">
    <div class="row g-4 py-5">
      <div class="col-xl-6 text-white">
        <h3>
          <span class="custom-borderline">UniShare</span>
        </h3>
        <p class="pt-3">
          A web service that facilitates the smooth transfer and matching of
          furniture and household items no longer needed after graduation to
          current students within the same university.
        </p>
        <hr />
        <div class="card bg-dark text-white custom-card-dark shadow-sm">
          <div class="card-body my-3 mx-3">
            <h5 class="card-title">Technologies Used</h5>
            <hr />
            <div
              class="d-flex flex-wrap justify-content-start gap-4 text-center"
            >
              <div class="me-3">
                <i class="devicon-html5-plain colored fs-1"></i>
                <div>HTML</div>
              </div>
              <div class="me-3">
                <i class="devicon-css3-plain colored fs-1"></i>
                <div>CSS</div>
              </div>
              <div class="me-3">
                <i class="devicon-bootstrap-plain colored fs-1"></i>
                <div>Bootstrap</div>
              </div>
              <div class="me-3">
                <i class="devicon-javascript-plain colored fs-1"></i>
                <div>JavaScript</div>
              </div>
              <div class="me-3">
                <i class="devicon-firebase-plain colored fs-1"></i>
                <div>Firebase</div>
              </div>
            </div>
          </div>
        </div>
        <a
          href="https://github.com/mizu20040814/UniShare_forGitHub"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-outline-danger mt-4"
        >
          View More
        </a>
      </div>

      <div class="col-xl-6 text-white">
        <img src="/images/img_for_unishare.jpg" class="img-fluid" alt="" />
      </div>
    </div>

    <div class="row g-4 py-5">
      <div class="col-xl-6 order-2 order-xl-1 text-white">
        <img src="/images/img_for_hacku.jpg" class="img-fluid" alt="" />
      </div>

      <div class="col-xl-6 order-1 order-xl-2 text-white">
        <h3>
          <span class="custom-borderline">Tabit</span>
        </h3>
        <p class="pt-3">
          Tabit is a Chrome extension that organizes your tabs based on viewing
          time or the order they were opened, with automatic grouping for better
          clarity. It also supports priority tab settings and keyboard
          shortcuts, offering a smoother and more efficient browsing experience.
        </p>
        <strong
          >Received the <span class="custom-red-text">Excellence Award</span> at
          Open Hack U 2025 OSAKA, <br />
          organized by LINE Yahoo.</strong
        >
        <hr />
        <div class="card bg-dark text-white custom-card-dark shadow-sm">
          <div class="card-body my-3 mx-3">
            <h5 class="card-title">Technologies Used</h5>
            <hr />
            <div
              class="d-flex flex-wrap justify-content-start gap-4 text-center"
            >
              <div class="me-3">
                <i class="devicon-html5-plain colored fs-1"></i>
                <div>HTML</div>
              </div>
              <div class="me-3">
                <i class="devicon-css3-plain colored fs-1"></i>
                <div>CSS</div>
              </div>
              <div class="me-3">
                <i class="devicon-bootstrap-plain colored fs-1"></i>
                <div>Bootstrap</div>
              </div>
              <div class="me-3">
                <i class="devicon-javascript-plain colored fs-1"></i>
                <div>JavaScript</div>
              </div>
            </div>
          </div>
        </div>
        <a
          href="https://hacku.yahoo.co.jp/hacku2025_osaka/"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-outline-danger mt-4"
        >
          View More
        </a>
      </div>
    </div>

    <div class="row g-4 py-5">
      <div class="col-xl-6 text-white">
        <h3>
          <span class="custom-borderline">PortFolio</span>
        </h3>
        <p class="pt-3">
          This portfolio website was developed using HTML, CSS, Bootstrap,
          JavaScript, and Node.js. It is hosted on XServer, and deployed with
          careful attention to performance and responsive design across various
          devices.
        </p>
        <hr />
        <p class="pt-1">
          Special thanks to ... <br />
          <a
            class="custom-a mt-3 custom-works-a"
            href="https://unsplash.com/ja"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-outline-danger mt-4"
          >
            Unsplash — Images</a
          ><br />
          <a
            class="custom-a mt-3 custom-works-a"
            href="https://northstreetcreative.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-outline-danger mt-4"
          >
            NORTH STREET — Design Reference</a
          >
        </p>
        <div class="card bg-dark text-white custom-card-dark shadow-sm">
          <div class="card-body my-3 mx-3">
            <h5 class="card-title">Technologies Used</h5>
            <hr />
            <div
              class="d-flex flex-wrap justify-content-start gap-4 text-center"
            >
              <div class="me-3">
                <i class="devicon-html5-plain colored fs-1"></i>
                <div>HTML</div>
              </div>
              <div class="me-3">
                <i class="devicon-css3-plain colored fs-1"></i>
                <div>CSS</div>
              </div>
              <div class="me-3">
                <i class="devicon-bootstrap-plain colored fs-1"></i>
                <div>Bootstrap</div>
              </div>
              <div class="me-3">
                <i class="devicon-javascript-plain colored fs-1"></i>
                <div>JavaScript</div>
              </div>
              <div class="me-3">
                <i class="devicon-nodejs-plain colored fs-1"></i>
                <div>Node.js</div>
              </div>
            </div>
          </div>
        </div>
        <a
          href="https://github.com/mizu20040814/UniShare_forGitHub"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-outline-danger mt-4"
        >
          View More
        </a>
      </div>

      <div class="col-xl-6 text-white">
        <img src="/images/granville_island_L.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</div>
